*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: black;
    font-family: 'Roboto Mono', monospace;
}
.wrapper{
    background-color: lightgray;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.calculator{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 400px;
    height: 550px;
    padding: 10px;
    border-radius: 30px;
}
.display{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 15px;
    flex-direction: column;
    align-items: flex-end;
    width: 380px;
    height: 120px;
    border-radius: 25px;
    background-color: white;
    box-shadow: -1px 1px gray,
                -2px 2px gray,
                -3px 3px gray,
                -4px 4px gray;
    overflow: hidden;
}
#calculation{
    font-family: inherit;
    color: gray;
    font-size: 18px;
}
#result{
    font-family: inherit;
    font-size: 40px;
}
#buttons{
    margin-top: 10px;
    width: 380px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "clear clear remove divide"
                         "seven eight nine times"
                         "four five six minus"
                         "one two three plus"
                         "zero dot equals equals";
    grid-auto-rows: 70px;
    gap: 10px;
}
.button{
    font-size: 30px;
    border-radius: 20px;
    color: gray;
    font-family: inherit;
    background-color: rgb(243, 243, 243);
    box-shadow: -1px 1px gray,
                -2px 2px gray,
                -3px 3px gray,
                -4px 4px gray;
    transition: 0.1s;
    outline: none;
    cursor: pointer;
}
.button:hover{
    background-color: rgba(138, 154, 158, 0.404);
}
#clear-button{
    grid-area: clear;
    background-color: rgb(174, 25, 25);
    color: white;
}
#clear-button:hover{
    background-color: rgb(221, 114, 114);
    color: white;
}
#remove-button{
  background-color: rgb(174, 25, 25);
  color: white;
}
#remove-button:hover{
    background-color:  rgb(221, 114, 114);
    color: white;
}
#equals{
  grid-column: span 2;
  background-color: rgb(24, 133, 69);
  color: white;
}

#zero{
    grid-area: zero;
}
.button.operation:hover{
    background-color: rgb(153, 179, 235);
    color: white;
}
#equals:hover{
    background-color: rgb(83, 255, 83);
    color: white;
}

.button.operation{
  background-color: rgb(18, 18, 251);
  color: white;
  
}
.button:active{
    box-shadow: none;
    transform: translate(-4px, 4px);
    outline: none;
}
footer{
    position: fixed;
    width: 100vw;
    text-align: center;
    bottom: 0;
    padding-bottom: 10px;
    padding-top: 5px;
    font-family: inherit;
    font-size: 20px;
    color: gray;
    background-color: white;
}
@media (max-width:400px){
    .calculator{
        width: 100vw;
    }
    .display{
        width: 99%;
    }
    #calculation{
        font-size: 15px;
    }
    #result{
        font-size: 30px;
    }
    #buttons{
        width: 99%;
    }
    .button{
        font-size: 26px;
    }
    footer{
        font-size: 15px;
    }
}